{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    About us
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/about-contact_us.css' %}">
{% endblock %}


{% block body_block %}

    <h1>About us:</h1>
    
    <div class="contents">
    <p> This is the about page! </p>

        <p> Looking for a website that allows you easily set up and distribute quizes? </br>
            Tired of websites that just don't quite work how you want it to? </br>
            Well we've got exactly what you need. Quiz Centre is a website specialising in quizes that is certain to meet all your quiz needs. </p>

        <p> We are a small team that settled on the idea to develop a quiz based website after realising our dissatisfaction with the current options, and </br>
            whilst it hasn't been the smoothest journey getting to this point, we are dedicated to continue forward to make quiz centre the very best it possibly can be.</p>
        <p>
        </p>
    </div>
    
{% endblock %}