<!DOCTYPE html>
{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    QuizCentre
{% endblock %}
	

{% block body_block %}

		<h1>Quiz Centre</h1> 
        {% if user.is_authenticated %}
        <p> Currently logged in as {{ username }}</p>   	
        {% endif %}        
		<div>
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                <div>
                <h2>Question {{ forloop.counter }} </h2> 
                  {{ form.as_p }}
                </div>
                {% endfor %}
                <button type="submit">Save Quiz</button>
              </form>
              
		
		</div>
		
		

{% endblock %}