{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    Contact us
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/about-contact_us.css' %}">
{% endblock %}


{% block body_block %}

    <h1>Contact us:</h1>
    
    <div class="contents">
        <p>Although the team working on quiz centre spends day and night searching for bugs and errors it is impossible
            to find them all.
            </br>
            So if you believe you have found a bug during your experience with the quiz centre website
            feel free to send an email or call us, so we can make quiz centre the best it possibly can be.
        </p>
        <p>
            Since quiz centre is still a work in progress, letting us know about any bugs you've found or just your opinions of the website would mean alot.
            Please see our contact details below.
        </p>

    <p> Email: quizapp@gmail.com </br> 
    	Phone: 01234567
    </p>
    </div>
    
{% endblock %}