<!DOCTYPE html>
{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    QuizCentre
{% endblock %}
	
{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}

		<h1>Quiz Centre</h1> 
        {% if user.is_authenticated %}
        <p> Currently logged in as {{ username }}</p>
        
        	{% if user.user_type == 1 %}
        		<a href="{% url 'quizapp:quiztaker' %}">Dashboard</a><br>
			{% else %}
				<a href="{% url 'quizapp:quizmaker' %}">Dashboard</a><br>
			{% endif %}
			
			
		<a href="{% url 'quizapp:logout' %}">Logout</a> <br>
        	
        {% else %}        
		<div class="form-login">
		<form id="login_form" method="post">
			{% csrf_token %}
			
			<div class="form">
				<input type="text" class="form-control" id="form-username" name="username" value="" size="50" placeholder="something@example.com"/>
				<label for="form-username">Username:</label>
			</div>
			
			<br/>
			<div class="form">
				<input type="password" class="form-control" id="form-password" name="password" value="" size="50" placeholder="Password"/>
				<label for="form-password">Password:</label>
			</div>
			
			<br/>

			<input type="submit" id="button-submit" value="Login" />
			
		</form>
		
		</div>
		
		<button type="button" id="button-register">
    		<a href="{% url 'quizapp:register' %}">Register</a>
		</button>
		
		{% endif %}

{% endblock %}