<!DOCTYPE html>
{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    QuizCentre
{% endblock %}
	

{% block body_block %}

		<h1>Quiz Centre</h1> 
        {% if user.is_authenticated %}
        <p> Currently logged in as {{ username }}</p>
        
        	{% if user.user_type == 1 %}
        		<a href="{% url 'quizapp:quiztaker' %}">Dashboard</a><br>
			{% else %}
				<a href="{% url 'quizapp:quizmaker' %}">Dashboard</a><br>
			{% endif %}
			
			
		<a href="{% url 'quizapp:logout' %}">Logout</a> <br>
        	
        {% else %}        
		<div>
		<form id="login_form" method="post">
			{% csrf_token %}
			
			Username: <input type="text" name="username" value="" size="50" />
			<br/>
			Password: <input type="password" name="password" value="" size="50" />
			<br/>
			
			<input type="submit" value="Login" />
			
		</form>
		
		</div>
		
		<button type="button">
    		<a href="{% url 'quizapp:register' %}">Register</a>
		</button>
		
		{% endif %}

{% endblock %}