{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    Quiz Maker Dashboard
{% endblock %}

{% block body_block %}

    <div class="dashboard">
        <div id="lefthandside">
            <h1>Your Quizzes:</h1>
            <h3>Avg. Score</h3>
            <ul class="your-quizzes-list">
                <li>
                    <div>Quiz 1</div><div>25/30</div>
                </li>
                <li>
                    <div>Quiz 2</div><div>20/30</div>
                </li>
                <li>
                    <div>Quiz 3</div><div>27/30</div>
                </li>
                <li>
                    <div>Quiz 4</div><div>24/30</div>
                </li>
            </ul>
        </div>

        <div id="righthandside">
            <input type="button" name="view" value="View other Quizzes"/>
            <input type="button" name="create" value="Create a Quiz"/>
        </div>
    </div>

{% endblock %}