{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    Quiz Taker Dashboard
{% endblock %}

{% block body_block %}

    <div class="row">
        <div class="col-md-6">
            <h1>Taken Quizzes:</h1>
            <ul class="taken-quizzes-list">
                <li>Quiz 1</li>
                <li>Quiz 2</li>
                <li>Quiz 3</li>
                <li>Quiz 4</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h1>Available Quizzes:</h1>
            <ul class="available-quizzes-list">
                <h2>** INSERT DROPDOWN TO FILTER BY TOPIC **</h2>
                {% if quizzes_exist %}
                {% for quiz in all_quizzes %}
                <li>
                    <div>{{quiz.name}}</div><div>Number Of Questions: {{quiz.number_of_questions}}</div><div>Max score: {{quiz.max_score}}</div>
                    <button name="take_quiz" class="btn btn-primary"> 
                        <a href="{% url 'quizapp:quiz' quiz_slug=quiz.name_slug %}">Take this Quiz</a>
                    </button>
                </li>
                {% endfor %}
                {% else %}
                    <div>No quizzes avaiable yet, please come back later.</div>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}