{% extends 'quizapp/base.html' %}
{% load static %}
{% load quizapp_tags %}

{% block title_block %}
    Quiz question
{% endblock %}

{% block body_block %}

    <h1>Quiz - Basics of Java:</h1>

    <div class="questionbody">
        <form id="question" method="post" action="">
            <div class="q-img">
                <img src="https://commons.wikimedia.org/wiki/File:Health_Quiz,_RAMC;_651-3_Wellcome_L0024826_(cropped).jpg#/media/File:Health_Quiz,_RAMC;_651-3_Wellcome_L0024826_(cropped).jpg" width="500" height="600">
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div>
                      {% for question, options in question_options %}
                        <h3>{{ question.question_text }}</h3>
                        {% for option in options|shuffle %}
                            <div>
                                <input type="radio" name="{{ question.id }}" value="{{ option.id }}" id="id_{{ option.id }}">
                                <label for="id_{{ option }}">{{ option }}</label>
                            </div>
                        {% endfor %}
                      {% endfor %}
                    </div>
                    <button type="submit">Submit</button>
                  </form>
            </div>
        </form>
    </div>

{% endblock %}