{% extends 'quizapp/base.html' %}
{% load static %}

{% block title_block %}
    Quiz Maker Dashboard
{% endblock %}

{% block body_block %}

    <div class="dashboard">
        <div id="lefthandside">
            <h1>Your Quizzes:</h1>
            <h3>Avg. Score</h3>
            <ul class="your-quizzes-list">
                {% if has_quizzes %}
                {% for quiz in my_quizzes %}
                <li>
                    <div>{{quiz.name}}</div><div>Number Of Questions: {{quiz.number_of_questions}}</div><div>Max score: {{quiz.max_score}}</div>
                </li>
                {% endfor %}
                {% else %}
                    <div>You have no quizzes yet - create one now!</div>
                {% endif %}
            </ul>
        </div>

        <div id="righthandside">
            <button name="view-other" class="button">
                <a href="{% url 'quizapp:view_other_quizzes' %}">View other Quizzes</button>
            <button name="create" class="button"> 
                <a href="{% url 'quizapp:create_quiz' %}"> Create a Quiz</a>
            </button>
        </div>
    </div>

{% endblock %}