html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffbb63;
    justify-content: center;

}




.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login .form:focus-within {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.button-register {
    padding: 2px;
	text-align: center;
	color: black;
	display: flex;
	flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {

}